* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hover {
    width: 300px;
    height: 200px;
    background: rgb(37, 169, 179);
    transition: all .3s linear;
}

.hover:hover {
    width: 800px;
    background: rgb(117, 214, 88);
}

.preloder {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px double rgb(7, 86, 100);
    border-top-color: transparent;
    animation-name: preloder;
    animation-duration: .8s;
    animation-iteration-count: infinite;

}

@keyframes preloder {
    0% {
        transform: rotate(0deg);
    }

    25% {}

    100% {
        transform: rotate(360deg);
    }
}

.text {
    width: 100%;
    padding: 40px;
}

.text h1 {
    text-align: center;
}
span{
    font-size: 40px;
}